[maxscale]
threads=auto

[Galera Monitor]
type=monitor
module=galeramon
servers=server1,server2
user=root
passwd=rootpass
monitor_interval=2000

[Read-Write Service]
type=service
router=readwritesplit
servers=server1,server2
user=root
passwd=rootpass

[Read-Write Listener]
type=listener
service=Read-Write Service
protocol=MariaDBClient
port=3306

[server1]
type=server
address=mariadb1
port=3306
protocol=MariaDBBackend

[server2]
type=server
address=mariadb2
port=3306
protocol=MariaDBBackend
