[maxscale]
threads=auto

[MySQL Monitor]
type=monitor
module=mysqlmon
servers=db1,db2
user=maxscaleuser
passwd=maxscalepass
monitor_interval=10000

[Read-Write Service]
type=service
router=readwritesplit
servers=db1,db2
user=maxscaleuser
passwd=maxscalepass

[Read-Write Listener]
type=listener
service=Read-Write Service
protocol=MariaDBClient
port=3306

[db1]
type=server
address=db1
port=3306
protocol=MariaDBBackend

[db2]
type=server
address=db2
port=3306
protocol=MariaDBBackend
